<!-- <div ng-controller="home_controller">

  <super-navbar >
    <super-navbar-title>
      Request Detail
    </super-navbar-title>
  </super-navbar>
  <! message is {{message}}
  <center> <h2> Hi {{currentUser.firstname}} wanna tutor? </h2></center>
      <div>
    <! {{acceptRec}} -->
<!--     <ul>
      <li ng-repeat = "(key, card) in requestUnaccepted | filter: query">{{card.food}} for {{card.subject}} at {{card.location}}
      <super-navigate location="main#detail">
        <button class="button button-full button-calm">More</button>
     </super-navigate>
         <button class = "button-calm" ng-click="accept(key)">accept</button> -->
  <!--     </li>
    </ul>
  </div>
</div> 