<div class="row" ng-controller="home_controller">

  <super-navbar>
    <super-navbar-title>
      Home
    </super-navbar-title>
  </super-navbar>


  <div class ="col-md-5">
    <h3> Add Request</h3>
    <form ng-submit="addRequest()">
      <div class ="form-group">
        <label>Name</label>
        <input type ="text" class ="form-control" ng-model="name" placeholder="Name"></input>
      </div>

      <div class ="form-group">
        <label>Subject</label>
        <input type ="text" class ="form-control" ng-model="subject" placeholder="Subject you want to be tutored in"></input>
      </div>

      <div class ="form-group">
        <label>Date of expiration</label>
        <input type ="text" class ="form-control" ng-model="expiry" placeholder="Date of expiration"></input>
      </div>

      <button type ="submit" class ="btn btn-default">Submit Request</button>
    </form>
  </div>
</div>
