<div ng-controller="home_controller">
	<super-navbar>
	  <super-navbar-title>
	    Home
	  </super-navbar-title>
	  <super-navbar-button ng-click="logout()" side = "right">Logout
	  </super-navbar-button>
	</super-navbar>

    {{currentUser.firstname}}
    home
    <!-- {{message}} -->

    <!-- {{message}} logout information-->
    <form class = "formgroup" name="requestform" ng-submit="addRequest()" novalidate>
    	<div>
	    	<input type="text" ng-required="true" placeholder="food" ng-model="requestfood">    		
    	</div>
    	<button type="submit" ng-disabled="requestform.$invalid">+</button>
    </form>
	
</div>
