<!-- <head>
  <script src="../index.js"></script>
  <script src="/scripts/home_controller.js"></script>
  <script src="/scripts/authentication.js"></script>
</head> -->
<!-- ng-controller="home_controller" -->
<div class="card register" ng-controller="home_controller">
   <super-navbar>
    <super-navbar-title>
      Welcome!
    </super-navbar-title>
  </super-navbar>
  <form name="myform" ng-submit = "login()" novalidate>

    <div>
      <h1>Hi there!</h1>
      <p>Log-in to access the awesomeness!</p>
      <p ng-show="message">{{message}}</p>
    </div>

    <fieldset>
      <input type="email" name="email" placeholder="Email" ng-model="user.email" ng-required = "true">
      <p class = "error validationerror" ng-show="myform.email.$invalid && myform.email.$touched">
        Must be a valid email address!
      </p>
      <input type="password" name="password" placeholder="Password" ng-model="user.password" ng-required = "true">
      <p class = "error validationerror" ng-show="myform.password.$invalid && myform.password.$touched">
        Must be a password!
      </p>
    </fieldset>
    
    <!-- <span ng-repeat="item in userinfo">{{item.text}}</span> -->
<!--     <ul>
      <li ng-repeat="(key, message) in messages">{{message.firstname}}</li>
    </ul> -->
    <button type="submit" class="btn" ng-disabled="myform.$invalid">Login</button>
    <p>or <a ng-href="register.html">register</a></p>
    <!-- <span ng-show="message">{{message}}</span> -->
  </form>
</div>
