<div ng-controller="tutorRequest_controller">

<super-navbar >
  <super-navbar-title>
    Hungry Einstein
  </super-navbar-title>
</super-navbar>


  <super-navbar>
    <super-navbar-title>
      Requests
    </super-navbar-title>
  </super-navbar>

  <h5> {{ currentUser.firstname }} </h5>


    <form ng-submit="addRequest()">
      <div class ="form-group">
      <input type='text' class="form-control" ng-model="name" placeholder="name">
    </div>

    <div class ="form-group">
      <input type='text' class="form-control" ng-model="subject" placeholder="Subject">
    </div>

    <div class ="form-group">
      <input type='text' class="form-control" ng-model="location_tutor" placeholder="Location">
    </div>


    <div class ="form-group">
      <input type='date' class="form-control" ng-model="date" placeholder="date">
    </div>


      <button type ="submit" class ="btn btn-default">Submit Request</button>
    </form>

</div>

<!-- <div class = "padding-vertical" ng-controller="tutorRequest_controller">
   <super-navbar>
    <super-navbar-title>
      Welcome to Hungry Einstein!
    </super-navbar-title>
  </super-navbar>



<div ng-show = "message">{{ message }}</div>
 <div class ="col-md-5">
    <h3>Add Request</h3>

    <form ng-submit="addRequest()">
      <div class ="form-group">
        <label>Name</label>
        <input type ="text" class ="form-control" ng-model="name" placeholder="Name"></input>
      </div>

      <div class ="form-group">
        <label>Subject</label>
        <input type ="text" class ="form-control" ng-model="subject" placeholder="Subject you want to be tutored in"></input>
      </div>

      <div class ="form-group">
        <label>Food</label>
        <input type ="text" class ="form-control" ng-model="food" placeholder="Food"></input>
      </div>

      <div class ="form-group">
        <label>Location</label>
        <input type ="text" class ="form-control" ng-model="location_tutor" placeholder="Location"></input>
      </div>


      <div class ="form-group">
        <label>Date of expiration</label>
        <input type ="date" class ="form-control" ng-model="date_tutor" placeholder="Date of expiration"></input>
      </div>

      <button type ="submit" class ="btn btn-default">Submit Request</button>
    </form>
  </div>

<!-   <super-modal-show location="main#home">
      <button class="button button-block button-positive">
        Find a Tutor
      </button>
   </super-modal-show> -->

   <!-- </div> -->