<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
<div class="padding" ng-controller="profile_controller">

  <super-navbar>
    <super-navbar-title>
      Profile
    </super-navbar-title>
  </super-navbar>
<!-- 	 <button class= "button" ng-click="takephoto()">Take a photo</button> -->
	 <center><button class = "button" ng-click = "getImgFromLib()"> Update photo </button><br><br>
	 <img src="data:image/png;base64,{{currentUser.img}}" height="150"><br>
      <h2 class = "padding-vertical" >{{currentUser.firstname}} {{currentUser.lastname}}</h2>
  </center>
</div>