<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
<div class="padding" ng-controller="profile_controller">

  <super-navbar>
    <super-navbar-title>
      Profile
    </super-navbar-title>
  </super-navbar>
<!-- 	 <button class= "button" ng-click="takephoto()">Take a photo</button> -->
	 <center><button class = "button" ng-click = "getImgFromLib()"> Update photo </button><br><br>
	 <img src="data:image/png;base64,{{currentUser.img}}" height="150">
      <h2 class = "padding-vertical" >{{currentUser.firstname}} {{currentUser.lastname}}</h2>

   <p style="font-size:20px"><i class="icon super-star"></i>4.5/5<br>
   <i class="icon super-ios-book"></i> Computer Science<br>
   <strong>Skills</strong>: Android development
   <i class="icon super-social-android"></i>
   Angular JS
   <i class="icon super-social-angular"></i>
   Github
   <i class="icon super-social-github"></i>
   <br>
   <strong>Fun fact</strong>: Can speak and code in five languages<br>
</p>  </center>
</div>