<div class = "padding-vertical" ng-controller="home_controller">
   <super-navbar>
    <super-navbar-title>
      Register
    </super-navbar-title>
  </super-navbar>

<div class = "padding-vertical" ng-controller="home_controller">
  <form name="myform"
   ng-submit = "register()"
   novalidate>

    <div class="textintro">
      <center>
        <h2 class = "padding-vertical">Register a new account</h2>
        <p ng-show="message">{{message}}</p>
      </center>
    </div>

    <fieldset>
      <input type="text" name="firstname" placeholder="First Name" ng-model ="user.firstname"
      ng-required="true">
      <input type="text" name="lastname" placeholder="Last Name" ng-model="user.lastname"
      ng-required="true">
      <input type="email" name="email" placeholder="Email" ng-model ="user.email"
      ng-required="true">
      <input type="password" name="password" placeholder="Password" ng-model ="user.password"
      ng-required="true">
    </fieldset>
    
    <button type="submit" class="button button-full button-positive" ng-disabled="myform.$invalid">Register</button>

    <center>
        <h3> or </h3>
    </center>


    <super-navigate location="main#login">
     <button  class="button button-full button-calm">Go back to login</button>
     </super-navigate>


  </form>
</div>
