<div class="card register" ng-controller="home_controller">
  <form name="myform"
   ng-submit = "register()"
   novalidate>

    <div class="textintro">
      <h1>Register</h1>
      <p>To access site features</p>
      <p ng-show="message">{{message}}</p>
    </div>

    <fieldset>
      <input type="text" name="firstname" placeholder="First Name" ng-model ="user.firstname"
      ng-required="true">
      <input type="text" name="lastname" placeholder="Last Name" ng-model="user.lastname"
      ng-required="true">
      <input type="email" name="email" placeholder="Email" ng-model ="user.email"
      ng-required="true">
      <input type="password" name="password" placeholder="Password" ng-model ="user.password"
      ng-required="true">
    </fieldset>
    
    <button type="submit" class="btn" ng-disabled="myform.$invalid">Register</button>
    <p>or <a ng-href="login.html">login</a></p>
  </form>
</div>
