<div ng-controller="request_controller">

  <super-navbar >
    <super-navbar-title>
      Make a request now!
    </super-navbar-title>
  </super-navbar>
  message is {{message}}
  <center> <h2> Hi {{currentUser.firstname}} post what you need? </h2></center>
    <form name = "requestForm"ng-submit="addRequest()">
      <div class ="form-group">
        <div>name:</span>
        <input type='text' class="form-control" ng-model="requester_name" placeholder="Ariana" ng-required = "true">
        <p class = "error validationerror" ng-show="requestFrom.requester_name.$invalid && requestFrom.requester_name.$touched">
        Must be a valid name!
       </p>
      </div>

      <div class ="form-group">
        <div>subject:</span>
        <input type='text' class="form-control" ng-model="request_subject" placeholder="Math" ng-required = "true">
        <p class = "error validationerror" ng-show="requestFrom.request_subject.$invalid && requestFrom.request_subject.$touched">
        Must type in subject!
       </p>
      </div>

      <div class ="form-group">
        <div>Description:</span>
        <input type='text' class="form-control" ng-model="descriptions" placeholder="Linked List Time Complexity" ng-required = "true">
        <p class = "error validationerror" ng-show="requestFrom.descriptions.$invalid && requestFrom.descriptions.$touched">
        Must type in subject!
       </p>
      </div>

      <div class ="form-group">
        <div>food to provide:</span>
        <input type='text' class="form-control" ng-model="food_provide" placeholder="Chipotle" ng-required = "true">
        <p class = "error validationerror" ng-show="requestFrom.food_provide.$invalid && requestFrom.food_provide.$touched">
        Must type in food!
       </p>
      </div>

      <div class ="form-group">
        <div>tutoring location:</span>
        <input type='text' class="form-control" ng-model="location_tutor" placeholder="Tech L158" ng-required = "true">
        <p class = "error validationerror" ng-show="requestFrom.location_tutor.$invalid && requestFrom.location_tutor.$touched">
        Must type in location!
       </p>
      </div>

      <div class ="form-group">
        <div>request expiration:</span>
        <input type='date' class="form-control" ng-model="request_expiry" placeholder="date" ng-required = "true">
        <p class = "error validationerror" ng-show="requestFrom.request_expiry.$invalid && requestFrom.request_expiry.$touched">
        Must have request expiration!
       </p>
      </div>

      <button type ="submit" class ="button button-full button-positive" ng-disabled="requestForm.$invalid">Submit Request</button>
  </form>
</div>