<div class="padding" ng-controller="SettingsController">

  <super-navbar>
    <super-navbar-title>
      Your Schedule
    </super-navbar-title>
  </super-navbar>

<h3><center>Hey Tony! This is your schedule.</center></h3>
<!-- Change "Tony" to the database name -->

<div class="card">
  <div class="item item-text-wrap">
  	<!-- Pull info from database -->
    Monday, June 12th. EECS 111. Main Library. <br>
    <button class="button button-small button-stable">
  Cancel
  <!-- Add functionality to the cancel button -->
</button>
  </div>
    <div class="item item-text-wrap">
    Tuesday, June 13th. EECS 394. South Campus.<br>
    <button class="button button-small button-stable">
  Cancel
  <!-- Add functionality to the cancel button -->
</button>
  </div>
  </div>
</div>

</div>
